.textScroller {
    display: flex;
    white-space: nowrap;
    animation: scrollText 75s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}