@import "tailwindcss";

@theme {
  --breakpoint-969px: 969px;
}

@keyframes slide-in {
  from {
    right: -483px;
  }
  to {
    right: 0;
  }
}

@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: -483px;
  }
}
